@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');
p{
    color:blueviolet;
}

#container{
    width:90%;
    margin: 0 auto;
}
*{
    font-family: 'Hi Melody', cursive;
    text-align: justify;
}

.htag {
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
    background-color: #ddd;
    text-shadow: 5px 5px 3px #000;
    letter-spacing: 0.5em;
}

.ullist{
    list-style-type: disc;
    list-style-position: inside;
}

table{
    caption-side: bottom;
    border: 1px solid black;
    border-collapse: collapse;
}

td, th{
    border: 1px solid black;
}

#box1{
    border: 1px solid black;
    width: 800px;
    height: 100px;
}

#box2{
    border: 1px solid black;
    width: 50%;
    height: 100px;
    box-shadow: 20px 20px 50px;
    border-radius: 50%;
}

nav{
    box-sizing: border-box;
}

nav ul{
    list-style: none;
    
}

nav ul li{
    display: inline-block;
    padding: 20px;
    margin: 0 20px;
    border: 1px solid #222;
    float : right;
}

